* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* Header */


.header {
  padding: 0 120px;
  /* background-color: lightpink; */
}

.header__block {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.1);
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  align-items: center;
}

.header__logo {
  font-family: TT Firs Neue;
  width: 183px;
  margin-top: 17px;
  margin-left: 4px;
}

.header__main {
  font-size: 35px;
  padding-left: 84px;
  font-family: TT Firs Neue;
  padding-top: 14px;
  color: #7D63AD;
}

.header__test {
  font-size: 33px;
  padding-left: 81px;
  font-family: TT Firs Neue;
  padding-top: 14px;
  color: #7D63AD;
}

a {
  text-decoration: none;
}

.header__profile__photo {
  width: 60px;
  margin-top: 22px;
  padding-right: 30px;
}

.header__back__logos {
  display: flex;
  justify-content: center;
}


.square__one {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid #000;
  left: 400px;
}




/* Profile */


.profile {
  padding: 50px 120px 0 120px;
}

.profile__user {
  display: flex;
}

.profile__user__img {
  margin-top: 7px;
  margin-right: 19px;
  width: 164px;
  height: 164px;
}

.profile__user__data {
  margin-left: 23px;
  margin-top: 25px;
}


.profile__user__name {
  font-family: TT Firs Neue;
  font-size: 28px;
}

.profile__user__mail {
  font-family: TT Firs Neue;
  font-size: 18px;
  color: #5E5E5E;
  margin-top: 27px;
}

.profile__user__change {
  margin-top: 23px;
  margin-right: 10px;
  border-bottom: 1px solid black;
  border-width: 1px;
  width: 76px;
  font-size: 16px;
  cursor: pointer;
}

.profile__last__tests .profile__last__tests__title {
  font-style: TT Firs Neue;
  font-size: 28px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  line-height: 36px;
}

.profile__last__test:not(:last-child) {
  margin-bottom: 24px;
}

.profile__last__test {
  height: 78px;
  padding: 0 28px;
  border-radius: 30px;
  /* margin-bottom: 24px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #7D63AD;
  font-size: 24px;
  padding-left: 45px;
  width: 1122px;
}

.profile__last__test__right {
  display: flex;
}

.profile__last__test__procent {
  margin-right: 10px;
}

.profile__button__more__div {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.profile__button__more {
  width: 404px;
    height: 82px;
    background-color: #7D63AD;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 30px; 
}

.bottom__text {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
}

.high__level__test {
  border: 2px solid green;
}

.medium__level__test {
  border: 2px solid orange;
}

.law__level__test {
  border: 2px solid red;
}

.change__block {
  position: absolute;
  width: 710px;
  height: 783px;
  left: 365px;
  top: 110px;
  border: 1px solid #000;
  background-color: white;
}

.close__change__block {
  display: none;
}